.grid {
  margin: 20px;
  width: 880px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
}

.logo {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 70px;
  color: #240115;
  text-shadow: 0 0 3px #240115, 0 0 5px #240115;
}

.primary-logo {
  width: 100%;
  margin-top: 40px;
  margin-bottom: 10px;
  font-size: 70px;
  color: rgb(105, 182, 169);
  text-shadow: 0 0 3px rgb(105, 182, 169), 0 0 5px rgb(105, 182, 169);
}

.card {
  width: 200px;
  height: 250px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border: 1.5px solid rgb(105, 182, 169);
  margin: 10px;
  cursor: pointer;
}

.btns {
  width: 100%;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.back {
  background-color: #240115;
  width: 200px;
  height: 250px;
  border: 1.5px solid #d6567c;
  margin: 10px;
  cursor: pointer;
}

.back:hover {
  background-color: #3d0123;
}

.btn {
  background-color: transparent;
  margin: 10px;
  color: #b74f6f;
  border: 0;
  width: 200px;
  padding: 10px 20px;
  cursor: pointer;
}

.scoreboard {
  width: 100%;
}

span {
  font-size: 20px;
  font-weight: bold;
}

.larger {
  font-size: 30px;
}

.primary {
  color: rgb(105, 182, 169);
}

.danger {
  color: #d6567c;
}

.danger:hover {
  color: rgb(105, 182, 169);
}

.btn:hover {
  color: #d6567c;
}

form {
  width: 100%;
  margin-bottom: 10px;
}

table {
  margin-top: 20px;
  margin-bottom: 20px;
  border-collapse: collapse;
  width: 300px;
  border: 1px solid #d6567c;
  background-color: #d6567c;
  color: #240115;
}

td,
th {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: rgb(105, 182, 169);
}
