.grid {
  margin: 20px;
  width: 880px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 auto;
}

.grid > h1 {
  width: 100%;
  margin: 40px;
  font-size: 70px;
  color: #240115;
  text-shadow: 0 0 3px #240115, 0 0 5px #240115;
}

.card {
  width: 200px;
  height: 250px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border: 1px solid #87f5fb;
  margin: 10px;
  cursor: pointer;
}

.btns {
  width: 100%;
  margin-bottom: 20px;
}

.back {
  background-color: #240115;
  width: 200px;
  height: 250px;
  border: 1px solid #87f5fb;
  margin: 10px;
  cursor: pointer;
}

.back:hover {
}

.btn {
  margin: 10px;
  background-color: #b74f6f;
  border: 0;
  width: 200px;
  padding: 10px 20px;
  cursor: pointer;
  font-weight: 700;
}

.btn:hover {
  background-color: #d6567c;
}
