.grid {
  margin: 20px;
  width: 880px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
}

.grid > h1 {
  width: 100%;
  margin-top: 40px;
  margin-bottom: 10px;
  font-size: 70px;
  color: #240115;
  text-shadow: 0 0 3px #240115, 0 0 5px #240115;
}

.card {
  width: 200px;
  height: 250px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border: 1.5px solid rgb(105, 182, 169);
  margin: 10px;
  cursor: pointer;
}

.btns {
  width: 100%;
  margin-bottom: 20px;
}

.back {
  background-color: #240115;
  width: 200px;
  height: 250px;
  border: 1.5px solid #d6567c;
  margin: 10px;
  cursor: pointer;
}

.back:hover {
}

.btn {
  background-color: transparent;
  margin: 10px;
  color: #b74f6f;
  border: 0;
  width: 200px;
  padding: 10px 20px;
  cursor: pointer;
}

span {
  font-size: 20px;
  font-weight: bold;
}

.larger {
  font-size: 30px;
}

.primary {
  color: rgb(105, 182, 169);
}

.danger {
  color: #d6567c;
}

.btn:hover {
  color: #d6567c;
}
